h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 C칩d. 220501007-01
        p.mb-0 Conocer los elementos b치sicos de un lenguaje de programaci칩n orientado a objetos, su entorno y los elementos necesarios para desarrollar una soluci칩n.



