.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Variables y estructuras de control en la programación orientada a objetos: Java
            h1.curso-titulo Elementos básicos de un lenguaje de programación orientado a objetos

            .brand-line-primary

            p.curso-descripcion En este material de formación se conocerá, en términos generales, la información referente a los conceptos básicos y las características de los lenguajes de programación orientados a objetos; asimismo, se abordará el proceso de instalación del software necesario para usarlo como entorno de desarrollo durante todo el avance del programa.
 


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")