include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white

        .row.justify-content-center.align-items-center

            .col-12.col-md-6

                img(src="assets/images/pages/introduccion/introduccion.svg").img-fluid

            .col-12.col-md-6

                hr.line-100.bg-orange
                p.py-5 La programación de sistemas a lo largo de los años ha venido evolucionando, de manera que en la gran mayoría de las empresas se requieren soluciones a la medida, las cuales contribuyan a la optimización del recurso humano y tecnológico, permitiendo la automatización de los procesos, de acuerdo al objeto de cada organización. 
                hr.line-100.bg-orange


        .jumbotron.my-5
            p En este material de formación se conocerá, en términos generales, la información referente a los conceptos básicos y las características de los lenguajes de programación orientados a objetos; asimismo, se abordará el proceso de instalación del software necesario para usarlo como entorno de desarrollo durante todo el avance del programa.
