.header-step {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-step-number {
    flex-basis: 36px;
    font-weight: 700;
    font-size: 1.1em;
    //margin-right: .5em;
    color: $brand-color-dark;
}

.header-step-title {
    font-weight: 600;
    font-size: 1em;
    flex: 1 1 auto;

    &--sm {
        font-size: 1rem;
    }
}